services:
  postgres:
    container_name: postgres
    image: postgres:${POSTGRES_VERSION}
    ports:
      - "${POSTGRES_LOCAL_PORT}:${POSTGRES_CONTAINER_PORT}"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      CUSTOM_DB_NAME: ${POSTGRES_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ${POSTGRES_INIT_SQL}:/docker-entrypoint-initdb.d/init.sql
    networks:
      - game_net

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "${PGADMIN_LOCAL_PORT}:${PGADMIN_LOCAL_PORT}"
    networks:
      - game_net

  juego:
    container_name: juego
    build: .
    env_file:
      - .env
    ports:
      - "${JUEGO_LOCAL_PORT}:${JUEGO_CONTAINER_PORT}"
    depends_on:
      - postgres
    networks:
      - game_net

volumes:
  postgres_data:

networks:
  game_net:

#docker-compose up -d
#docker exec -it juego bash home/juego/number_guess.sh